Creating DataFrames

In [1]:
import pandas as pd

In [3]:
#using list
data = [["Alice",25],
        ["Bob",30],
        ["Charlie",35]
       ]

df = pd.DataFrame(data, columns=["Name","Age"])
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [13]:
#using dictionary
data1 = {"a":[1,2,3,4],
         "b":[5,6,7,8],
         "c":[11,12,13,14]
        }

data1

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8], 'c': [11, 12, 13, 14]}

In [14]:
df1 = pd.DataFrame(data1)

In [15]:
df1

   a  b   c
0  1  5  11
1  2  6  12
2  3  7  13
3  4  8  14

In [16]:
# using numpy array
import numpy as np

In [17]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [18]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
df2 = pd.DataFrame(arr, columns=["A","B","C"])

In [22]:
df2

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9