What is Pandas?

Pandas is a powerful, open-source Python library used for data manipulation, cleaning, and analysis. It provides two main data structures:

Series: A one-dimensional labeled array

DataFrame: A two-dimensional labeled table (like an Excel sheet or SQL table)

Pandas makes working with structured data fast, expressive, and flexible.

If you're working with tables, spreadsheets, or CSVs in Python—Pandas is your best friend.

In [1]:
import pandas as pd

Pandas is built on two main data structures:

Series → One-dimensional (like a single column in Excel)

DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

In [2]:
s = pd.Series([31,42,34,55,56])

In [3]:
type(s)

pandas.core.series.Series

In [4]:
print(s)

0    31
1    42
2    34
3    55
4    56
dtype: int64

In [7]:
#indexing
s1 = pd.Series([81,42,34,55,56], index=["Ajinkya","Harry","Aakash","Raj","Kirti"])

In [8]:
s1

Ajinkya    81
Harry      42
Aakash     34
Raj        55
Kirti      56
dtype: int64

In [9]:
s1["Ajinkya"]

81

In [10]:
s1["Kirti"]

56

In [11]:
#dataframe
data = {"name":["Alice","Bob","charlie"],
        "age":[25,30,35],
        "city":["delhi","mumbai","bangalore"]
       }

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      delhi
1      Bob   30     mumbai
2  charlie   35  bangalore

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')