In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

#Selection & Filtering

In [12]:
#single column 
df['Actor']

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [13]:
df['Actor'][7]

'Hrithik Roshan'

In [14]:
type(df['Actor'])

pandas.core.series.Series

In [16]:
df[['Actor','IMDb']] #multiple columns

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

#Selecting Rows by Index
Use .loc[] (label-based) and .iloc[] (position-based):

In [22]:
df.loc[7] #first row (by label)

Actor                   Hrithik Roshan
Film                               War
Year                              2019
Genre                           Action
BoxOffice(INR Crore)               475
IMDb                               6.5
Name: 7, dtype: object

In [23]:
df.iloc[7] #first row (by position)

Actor                   Hrithik Roshan
Film                               War
Year                              2019
Genre                           Action
BoxOffice(INR Crore)               475
IMDb                               6.5
Name: 7, dtype: object

In [25]:
#Select Specific Rows and Columns
df.loc[7,'Actor'] # value at row 7, column 'Name'

'Hrithik Roshan'

In [26]:
df.iloc[0,1] # value at row 0, column at index 1

'Pathaan'

In [29]:
#slice
df.loc[3:7,['Actor','Film']] # rows 3 to 7, selected columns

                Actor        Film
3       Ranbir Kapoor  Brahmastra
4       Ranveer Singh   Padmaavat
5  Ayushmann Khurrana   Andhadhun
6       Rajkummar Rao       Stree
7      Hrithik Roshan         War

In [40]:
df.iloc[3:7,0:2] # rows and cols by index position

                Actor        Film
3       Ranbir Kapoor  Brahmastra
4       Ranveer Singh   Padmaavat
5  Ayushmann Khurrana   Andhadhun
6       Rajkummar Rao       Stree

# same output to understand loc[] iloc[]

In [41]:
df.loc[8,'IMDb']

7.0

In [42]:
df.iloc[8,5]

7.0

Fast Access: .at and .iat
single element access

In [43]:
df.at[7,'Actor'] # fast label-based access

'Hrithik Roshan'

In [48]:
df.iat[0,1] # fast postion-based access

'Pathaan'

In [52]:
df.iat[7,0]

'Hrithik Roshan'

In [56]:
#Filtering with Conditions
df[df['IMDb']>6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [57]:
df[df['IMDb']>6]['Actor']

0         Shah Rukh Khan
2             Aamir Khan
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [59]:
#Multiple Conditions (AND / OR)
df[(df['IMDb']>6) & (df['Year']>2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [60]:
df[(df['IMDb']>6) | (df['Year']>2018)]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2